.rows-header-wrapper {
  width: 100px;
  height: fit-content;
  border-right: 1px solid yellow;
  background-color: rgb(39, 36, 36);
  color: white;
  box-sizing: border-box;
  .row-header:not(:last-child) {
    border-bottom: 1px solid yellow;
  }
  box-shadow: 4px 0px 20px black;
}

.main-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.body-wrapper {
  display: flex;
  flex-direction: row;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  width: 100%;
  overflow: auto;
  box-sizing: border-box;
}

.day-block {
  height: 100%;
  text-align: center;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 4px;
}

.hour-block {
  display: block;
  width: 100%;
  text-align: center;
  padding: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
